body {font-family: "Lato", sans-serif;}

.tablink {
  background-color: #555;
  color: white;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
}

.tablink:hover {
  background-color: #777;
}