/Admin.class
/AffinityReport.class
/Group.class
/Infrastructure.class
/PopularityReport.class
/Project.class
/Registered.class
/Report.class
/Social.class
/User.class
/Notification.class
/CouncilHall.class
