{% extends "base.html" %} {% block title %} Apply Pair {% endblock%} {% block body %} {% if pair_user is None %}
<p>
    The selection of a pair requires two steps. First you select a student to be paired with. In that moment the pair is created but is not validated. Then the other student has to do the same with you and in that moment the pair gets validated.
</p>

<form id="pair_form" method="post" action="{% url 'core:applypair' %}" enctype="multipart/form-data">

    {% csrf_token %}

    <!-- Display each form -->
    {{ pair_form.as_p }}

    <!-- Provide a button to click to submit the form. -->
    <input type="submit" class="btn btn-primary" value="Submit" />
</form>
{% elif pair_user.validated is True %}
<h3>You already belong to pair {{pair_user.student1}}, {{pair_user.student2}}</h3>
{% else %}
<h3>You have requested to be paired with <b>{{pair_user.student2}}</b></h3>
{% endif %} {% endblock %}